click==6.7
Flask==0.12.2
Flask-Login==0.4.0
Flask-SQLAlchemy==2.3.0
google-api-python-client==1.6.4
gunicorn==19.7.1
httplib2==0.10.3
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
oauth2client==4.1.2
pyasn1==0.3.6
pyasn1-modules==0.1.4
rsa==3.4.2
six==1.11.0
SQLAlchemy==1.1.14
uritemplate==3.0.0
Werkzeug==0.12.2
