{% extends 'endpoint_base.html' %}

{% block content %}

<form method="GET" action="{{ url_for('create_endpoint_destination', endpoint_id=endpoint.id) }}">
  <select name="destination">
    {% for destination_class in destination_classes %}
    <option value="{{ destination_class.dashname }}">{{ destination_class.human_name }}</option>
    {% endfor %}
  </select>
  <button>Add destination</button>
</form>
<br>
<h3>Existing Destinations</h3>
<table>
  <tr>
    <th></th>
    <th>Destination Type</th>
  </tr>
{% for ed in endpoint.endpoint_destinations %}
<tr>
  <td>
    <form method="POST" action="{{ url_for('delete_endpoint_destination', endpoint_id=endpoint.id, endpoint_destination_id=ed.id) }}">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
      <button>X</button>
    </form>
  </td>
  <td>{{ ed.destination.human_name }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
