{% extends 'base.html' %}

{% block content %}

<div>Secret URL: {{ url_for('secret_endpoint', uuid=endpoint.uuid, _external=True) }}</div>
<br>
<h3>Current Destinations</h3>
{% for endpoint_destination in endpoint_destinations %}
	<div>{{ endpoint_destination.type }}</div>
{% endfor %}
<h3>Add a destination</h3>
<form method="GET" action="">
	<select name="destination">
		{% for destination_type in destination_types %}
		<option value="{{ destination_type }}">{{ destination_types[destination_type] }}</option>
		{% endfor %}
	</select>
	<button>Submit</button>
</form>
<br>
<h3>Existing Destinations</h3>
{% for endpoint_destination in endpoint.endpoint_destinations %}
<div>{{ endpoint_destination.destination.human_name }}</div>
{% endfor %}
<br>
<h3>Submit new data</h3>
<form method="POST" action="{{ url_for('secret_endpoint', uuid=endpoint.uuid) }}?redirect={{ url_for('endpoint', org_name=endpoint.organization.name, endpoint_name=endpoint.name, _external=True) }}">
	<input type="email" name="email" autofocus="">
	<input type="text" name="name">
	<input type="text" name="last_name">
	<input type="submit" value="Submit Test Data">
</form>
<br>
{% for post in endpoint.posts %}
<div><code>{{ post.uuid }}</code></div>
<pre>{{ post.data }}</pre>
{% endfor %}

{% endblock %}