{% extends 'endpoint_base.html' %}

{% block content %}
<h3>Submit Test Data</h3>

<h4>Edit Sample HTML</h4>
<textarea class="code-input" rows="10" cols="52">
<form method="POST" action="{{ url_for('endpoint', endpoint_id=endpoint.id, _external=True) }}">
  <label>Email</label>
  <input type="email" name="email" autofocus="">

  <label>Name</label>
  <input type="text" name="name">

  <button>Submit</button>
</form>
</textarea>
<br><br>

<h4>Submit Form</h4>
<div class="code-output"></div>
<br>
<br>
<script type="text/javascript">
  $('.code-output').html($('.code-input').val());

  $('.code-input').on('keyup', (e) => {
    $('.code-output').html($('.code-input').val());
  })
</script>
<div class="endpoint-submissions">
  <table>
    <tr>
      <th></th>
      <th>id</th>
      <th>datetime</th>
      {% for fieldname in endpoint.get_fieldnames() %}
      <th>{{ fieldname }}</th>
      {% endfor %}
    </tr>
    {% for submission in endpoint.submissions | sort(attribute='created', reverse=True) %}
    <tr>
      <td>
        <form method="POST" action="{{ url_for('delete_submission', submission_id=submission.id) }}">
          <button>x</button>
          <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
        </form>
      </td>
      <td><code>{{ submission.uuid }}</code></td>
      <td>{{ submission.created }}</td>
      {% for _ in submission.data %}
        <td><code>{{ submission.data[endpoint.get_fieldnames()[loop.index0]] }}</code></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}