<!DOCTYPE html>
<html>
<head>
	<title>{{ org.name }}</title>
</head>
<body>
	{% if current_user.is_member(org) %}
	<h1>{{ org.name }} Profile</h1>
	<br>
	<div>
		<a href="{{ url_for('create_endpoint', org_name=org.name) }}">Create Endpoint</a>
	</div>
	<br>
	<div>
		{% for endpoint in org.endpoints %}
		<div>
			<a href="{{ url_for('endpoint', org_name=org.name, endpoint_name=endpoint.name) }}">{{ endpoint.name }}</a>
		</div>
		{% endfor %}
	</div>
	<div>
		{% if current_user.credentials %}
		<pre>
{{ form }}
		</pre>
		{% endif %}
	</div>
	{% endif %}
</body>
</html>