<form autocomplete="off">
  <select id="endpoint-selector">
    {% for e in current_user.organization.endpoints %}
      <option value="{{ e.id }}"{% if  ndpoint == e %} selected{% endif %}>
        {{ endpoint.name }}
      </option>
      <option value="">New Endpoint</option>
    {% endfor %}
  </select>
</form>
<br>
<br>

<div class="section">
  <div>
    <a class="{% if request.path == url_for('endpoint', endpoint_id=endpoint.id) %}inactive-link{% endif %}" href="{{ url_for('endpoint', endpoint_id=endpoint.id) }}">Home</a>
  </div>

  <div>
    <a class="{% if request.path == url_for('submissions', endpoint_id=endpoint.id) %}inactive-link{% endif %}" href="{{ url_for('submissions', endpoint_id=endpoint.id) }}">Submissions</a>
  </div>
  <div class="subsection">
    <div>Spam</div>
  </div>

  <div>
    <a class="{% if request.path == url_for('destinations', endpoint_id=endpoint.id) %}inactive-link{% endif %}" href="{{ url_for('destinations', endpoint_id=endpoint.id) }}">Destinations</a>
  </div>
  <div class="subsection">
    <div>Unsubscribers</div>
  </div>

  <div>Validators</div>

  <div>
    <a class="{% if request.path == url_for('support') %}inactive-link{% endif %}" href="{{ url_for('support') }}">Support</a>
  </div>
</div>

<script type="text/javascript">
  $('#endpoint-selector').change((e) => {
    if (e.target.value) {
      window.location.pathname = '/' + e.target.value;
    } else {
      window.location.pathname = '{{ url_for('create_endpoint')}}';
    }
  })
</script>