{% extends 'endpoint_base.html' %}

{% block content %}

<h1>Submissions</h1>

<div class="endpoint-submissions">
  <table>
    <tr>
      <th></th>
      <th>id</th>
      <th>datetime</th>
      {% for fieldname in endpoint.get_fieldnames() %}
      <th>{{ fieldname }}</th>
      {% endfor %}
    </tr>
    {% for submission in endpoint.submissions | sort(attribute='created', reverse=True) %}
    <tr>
      <td>
        <form method="POST" action="{{ url_for('delete_submission', submission_id=submission.id) }}">
          <button>x</button>
          <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
        </form>
      </td>
      <td><code>{{ submission.uuid }}</code></td>
      <td>{{ submission.created }}</td>
      {% for _ in submission.data %}
        <td><code>{{ submission.data[endpoint.get_fieldnames()[loop.index0]] }}</code></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
