<!DOCTYPE html>
<html>
<head>
	<title>FormEndpoint</title>
</head>
<body>
	<div>
		<h1>FormEndpoint</h1>
		<div>You design the form. We'll do the rest.</div>
		<br>
		<div>
			<form action="/login" method="POST">
				<input autofocus type="email" name="email" placeholder="Your email">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
				<button>Get Started</button>
			</form>
		</div>
		<br><br>
		<div>
			FormEndpoint is <a href="https://github.com">100% open source</a>.
		</div>
	</div>
</body>
</html>